## Reto 6: Sort

### 1. Objetivos:
    - Practicar el uso de `sort_values` para obtener datos específicos
    
---
    
### 2. Desarrollo:

#### a) Reordenamiento para hallazgo de valores

Vamos a trabajar sobre el dataset que guardaste en la sesión anterior. Tu Reto consiste en lo siguiente:

1. Usa `sort_values` y `loc` para obtener el valor de la velocidad en kilómetros por segundo más lenta de todos los objetos que tenemos en el dataset y asígnalo a `velocidad_en_kilometros_por_segundo_de_objeto_mas_lento`.
2. Usa `sort_values` y `loc` para obtener el valor del diámetro más grande medido que existe en nuestro dataset y asígnalo a `medida_de_diametro_mas_grande`

In [1]:
import pandas as pd

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
df = pd.read_csv('/content/drive/MyDrive/BEDU/reto07_neat.csv')

In [4]:
df.dtypes

Unnamed: 0.1                                          int64
Unnamed: 0                                            int64
id_name                                              object
is_potentially_hazardous_asteroid                      bool
estimated_diameter.meters.estimated_diameter_min    float64
estimated_diameter.meters.estimated_diameter_max    float64
close_approach_date                                  object
epoch_date_close_approach                            object
orbiting_body                                        object
relative_velocity.kilometers_per_second             float64
relative_velocity.kilometers_per_hour               float64
orbit_class_description                              object
dtype: object

In [5]:
df.sort_values('relative_velocity.kilometers_per_second')

,Unnamed: 0.1,Unnamed: 0,id_name,is_potentially_hazardous_asteroid,estimated_diameter.meters.estimated_diameter_min,estimated_diameter.meters.estimated_diameter_max,close_approach_date,epoch_date_close_approach,orbiting_body,relative_velocity.kilometers_per_second,relative_velocity.kilometers_per_hour,orbit_class_description
313,313,313,3781977-(2017 SV19),False,26.580000,59.434687,1995-02-20,1995-02-20 22:41:00,earth,0.681437,2453.172023,Near-Earth-asteroid-orbits-which-cross-the-E...
177,177,177,3837847-(2019 AC11),False,127.219879,284.472297,1995-02-05,1995-02-05 23:00:00,earth,1.333357,NaN,Near-Earth-asteroid-orbits-similar-to-that-o...
262,262,262,3447920-(2009 DF1),False,201.629919,450.858206,1995-02-15,1995-02-15 22:36:00,earth,2.164376,7791.753083,Near-Earth-asteroid-orbits-which-cross-the-E...
248,248,248,3648878-(2013 TG6),False,12.721988,28.447230,1995-02-17,1995-02-17 08:54:00,earth,2.344519,8440.267424,Near-Earth-asteroid-orbits-similar-to-that-o...
226,226,226,3438964-(2008 VA15),False,48.367649,108.153351,1995-02-07,1995-02-07 19:37:00,earth,2.637492,9494.972594,An-asteroid-orbit-contained-entirely-within-t...
...,...,...,...,...,...,...,...,...,...,...,...,...
151,151,151,3019640-(1999 JE1),True,278.326768,622.357573,1995-01-26,1995-01-26 08:00:00,earth,36.927161,132937.779226,Near-Earth-asteroid-orbits-similar-to-that-of...
157,157,157,2508774-508774 (1999 JE1),True,291.443905,651.688382,1995-01-26,1995-01-26 09:25:00,earth,36.927161,132937.779820,Near-Earth-asteroid-orbits-similar-to-that-of...
309,309,309,2455594-455594 (2004 SV55),False,699.125232,1563.291544,1995-02-23,1995-02-23 15:11:00,earth,37.610169,135396.608951,Near-Earth-asteroid-orbits-which-cross-the-E...
214,214,214,3446396-(2009 CT5),False,461.907460,1032.856481,1995-02-08,1995-02-08 12:55:00,earth,39.605328,142579.180493,Near-Earth-asteroid-orbits-similar-to-that-o...
195,195,195,2455176-455176 (1999 VF22),True,192.555078,430.566244,1995-02-01,1995-02-01 00:09:00,earth,40.527428,145898.742108,Near-Earth-asteroid-orbits-similar-to-that-of...

In [22]:
df.sort_values('relative_velocity.kilometers_per_second').head(1)['relative_velocity.kilometers_per_second']

313    0.681437
Name: relative_velocity.kilometers_per_second, dtype: float64

In [40]:
velocidad_en_kilometros_por_segundo_de_objeto_mas_lento = df.sort_values('relative_velocity.kilometers_per_second').iloc[0]['relative_velocity.kilometers_per_second']
medida_de_diametro_mas_grande = df.sort_values('estimated_diameter.meters.estimated_diameter_max',ascending=False).iloc[0]['estimated_diameter.meters.estimated_diameter_max']

In [39]:
velocidad_en_kilometros_por_segundo_de_objeto_mas_lento

0.681436673

In [41]:
medida_de_diametro_mas_grande

6516.883821679

Pídele a tu experta la función de verificación `corroborar_hallazgos` (encontrada en el archivo `helpers.py` de la carpeta donde se encuentra este Reto), pégala debajo y corre la celda para verificar tu resultado:

In [42]:
# Pega aquí la función de verificación
def corroborar_hallazgos(velocidad_en_kilometros_por_segundo_de_objeto_mas_lento, medida_de_diametro_mas_grande):

    assert velocidad_en_kilometros_por_segundo_de_objeto_mas_lento == 0.681436673, 'Esa no es la velocidad en kilómetros por segundo del objeto más lento'
    assert medida_de_diametro_mas_grande == 6516.883821679, 'Ese no es el diámetro más grande medido en nuestro dataset'

    print('Tus hallazgos son correctos. ¡Bien hecho!')

In [43]:
corroborar_hallazgos(velocidad_en_kilometros_por_segundo_de_objeto_mas_lento, medida_de_diametro_mas_grande)

Tus hallazgos son correctos. ¡Bien hecho!