## Reto 2: Manipulación de Strings

### 1. Objetivos:
    - Practicar manipular `strings` usando métodos como `split`, `title`, `strip, etc.
 
---
    
### 2. Desarrollo:

#### Limpiando strings usando la propiedad `str`

Vamos a trabajar en la versión del dataset que guardaste en el reto pasado. Las acciones que tienes que tomar en este Reto son las siguientes:

1. Reemplaza los guiones en las `strings` de la columna `orbit_class_description` por espacios.
2. Elimina los espacios vacíos al principio y final de las `strings` de la misma columna.
3. Hay una columna llamada `id_name` que contiene el 'id' y el nombre de cada objeto separados por un guión. Separa estos datos en dos columnas llamadas `id` y `name`.
4. Haz que las `strings` de la columna `orbiting_body` empiecen con mayúscula.
5. Asigna el `DataFrame` resultante a la variable `df_reto_2`.
6. Guarda tu resultado en un archivo .csv.

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('near_earth_objects-jan_feb_1995-reto_1.csv', index_col = 0)
df.head()

,Unnamed: 0.1,id_name,is_potentially_hazardous_asteroid,estimated_diameter.meters.estimated_diameter_min,estimated_diameter.meters.estimated_diameter_max,close_approach_date,epoch_date_close_approach,orbiting_body,relative_velocity.kilometers_per_second,relative_velocity.kilometers_per_hour,orbit_class_description
0,0,2154652-154652 (2004 EP20),False,483.676488,1081.533507,1995-01-07 00:00:00.000000,1970-01-01 00:13:09.467580,earth,16.142864,58114.308667,Near-Earth-asteroid-orbits-similar-to-that-o...
1,1,3153509-(2003 HM),True,96.506147,215.794305,1995-01-07 00:00:00.000000,1970-01-01 00:13:09.491340,earth,12.351044,44463.757734,Near-Earth-asteroid-orbits-which-cross-the-E...
3,3,3837644-(2019 AY3),False,46.190746,103.285648,1995-01-07 00:00:00.000000,1970-01-01 00:13:09.513900,earth,22.478615,80923.015021,Near-Earth-asteroid-orbits-similar-to-that-o...
4,4,3843493-(2019 PY),False,22.108281,49.435619,1995-01-07 00:00:00.000000,1970-01-01 00:13:09.446700,earth,4.998691,17995.288355,Near-Earth-asteroid-orbits-similar-to-that-of...
5,5,3765015-(2016 WR48),False,160.160338,358.129403,1995-01-08 00:00:00.000000,1970-01-01 00:13:09.569160,earth,7.465089,26874.321682,An-asteroid-orbit-contained-entirely-within-t...

In [5]:
df['orbit_class_description'] = df['orbit_class_description'].str.replace("-"," ")

In [6]:
df['orbit_class_description'][0]

'  Near Earth asteroid orbits similar to that of 2062 Aten  '

In [7]:
df['orbit_class_description'] = df['orbit_class_description'].str.strip()

In [8]:
df['orbit_class_description'][0]

'Near Earth asteroid orbits similar to that of 2062 Aten'

In [9]:
df['id_name']

0       2154652-154652 (2004 EP20)
1                3153509-(2003 HM)
3               3837644-(2019 AY3)
4                3843493-(2019 PY)
5              3765015-(2016 WR48)
                  ...
327    2311554-311554 (2006 BQ147)
328    2267136-267136 (2000 EF104)
329             3360486-(2006 WE4)
330             3656919-(2014 BG3)
331             3803762-(2018 GY4)
Name: id_name, Length: 301, dtype: object

In [10]:
df[['id','name']] = df['id_name'].str.split('-',expand=True)

In [11]:
df.head()

,Unnamed: 0.1,id_name,is_potentially_hazardous_asteroid,estimated_diameter.meters.estimated_diameter_min,estimated_diameter.meters.estimated_diameter_max,close_approach_date,epoch_date_close_approach,orbiting_body,relative_velocity.kilometers_per_second,relative_velocity.kilometers_per_hour,orbit_class_description,id,name
0,0,2154652-154652 (2004 EP20),False,483.676488,1081.533507,1995-01-07 00:00:00.000000,1970-01-01 00:13:09.467580,earth,16.142864,58114.308667,Near Earth asteroid orbits similar to that of ...,2154652,154652 (2004 EP20)
1,1,3153509-(2003 HM),True,96.506147,215.794305,1995-01-07 00:00:00.000000,1970-01-01 00:13:09.491340,earth,12.351044,44463.757734,Near Earth asteroid orbits which cross the Ear...,3153509,(2003 HM)
3,3,3837644-(2019 AY3),False,46.190746,103.285648,1995-01-07 00:00:00.000000,1970-01-01 00:13:09.513900,earth,22.478615,80923.015021,Near Earth asteroid orbits similar to that of ...,3837644,(2019 AY3)
4,4,3843493-(2019 PY),False,22.108281,49.435619,1995-01-07 00:00:00.000000,1970-01-01 00:13:09.446700,earth,4.998691,17995.288355,Near Earth asteroid orbits similar to that of ...,3843493,(2019 PY)
5,5,3765015-(2016 WR48),False,160.160338,358.129403,1995-01-08 00:00:00.000000,1970-01-01 00:13:09.569160,earth,7.465089,26874.321682,An asteroid orbit contained entirely within th...,3765015,(2016 WR48)

In [12]:
df['orbiting_body']=df['orbiting_body'].str.capitalize()

In [13]:
df['orbiting_body'].head(3)

0    Earth
1    Earth
3    Earth
Name: orbiting_body, dtype: object

In [14]:
df_reto_2 = df

In [15]:
df_reto_2.to_csv('df_reto_2.csv')

¡Compara con tus compañeros y con la experta tu solución para asegurarte de que realizaste los procesos adecuadamente!