## Reto 2: Convertir tablas en MySQL a `DataFrames` de `pandas`

### 1. Objetivos:
    - Solicitar todos los datos de las tablas que están almacenadas en nuestra base de datos, convertirlos a `DataFrames` y guardarlos.
    
---
    
### 2. Desarrollo:

#### a) Tablas a `DataFrames`

Ya que tenemos nuestra conexión funcionando adecuadamente, vamos a utilizarla para realizar consultas a las base de datos y construir una base de datos local. Tu Reto consiste en los siguientes pasos:

1. Vuelve a establecer la conexión a la base de datos
2. Usando el comando `SELECT * FROM nombre_de_tabla`, realiza consultas a cada una de las 5 tablas que existen en la base de datos.
3. Crea un `DataFrame` por cada tabla que obtuviste. Para asignarle los nombres de las columnas correctamente, revisa el archivo [Readme.md](../../Datasets/MovieLens/Readme.md) donde está contenida toda esa información.
4. Asegúrate de que el índice sea adecuado en cada `DataFrame`. En los casos en los que haya datos redundantes, convierte una de las columnas en índice.
5. Si lo deseas ordena las columnas de la manera en la que mejor te parezca.
6. Guarda tus `DataFrames` en formato .csv para utilizarlos en los siguientes Retos.

> **NOTA IMPORTANTE**: La tabla movies es un poco complicada porque contiene muchos signos distintos. Tanto en la columna de nombre de película como la de género, encontramos signos como `,`, `:`, `.`, `|`. Esto hace un poco complicado el almacenamiento y lectura de este archivo. Si elijes guardar este archivo como un .csv separado por comas (`,`), a la hora de leerlo de regreso, `pandas` puede confundirse y pensar que el título de una película que contiene comas constituye dos columnas. Por esta razón, te recomiendo que la tabla `movies` la guardes agregando un separador poco convencional como `sep='$'`. De esta manera será muchísimo más fácil leer tu archivo de regreso usando ese separador.

In [1]:
# Tu código va a aquí
#
# ...
# ...
!pip install mysql-connector-python

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting mysql-connector-python
  Downloading mysql_connector_python-8.0.30-cp37-cp37m-manylinux1_x86_64.whl (25.4 MB)
     |████████████████████████████████| 25.4 MB 1.6 MB/s
Requirement already satisfied: protobuf<=3.20.1,>=3.11.0 in /usr/local/lib/python3.7/dist-packages (from mysql-connector-python) (3.17.3)
Requirement already satisfied: six>=1.9 in /usr/local/lib/python3.7/dist-packages (from protobuf<=3.20.1,>=3.11.0->mysql-connector-python) (1.15.0)
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-8.0.30

In [38]:
import mysql.connector
cnx = mysql.connector.connect(
    host="ec2-35-91-90-88.us-west-2.compute.amazonaws.com",
    port=3306,
    user="data",
    password='khQ9--mp6LWq97iA',
    database='movielens'
)
cursor = cnx.cursor()

In [39]:
cursor.execute("SHOW TABLES")
tablas = cursor.fetchall()

In [13]:
tablas

[('age_ranges',), ('movies',), ('occupations',), ('ratings',), ('users',)]

In [40]:
cursor.execute("Select * from "+tablas[0][0])
age_ranges = cursor.fetchall()
cursor.execute("Select * from "+tablas[1][0])
movies = cursor.fetchall()
cursor.execute("Select * from "+tablas[2][0])
occupations = cursor.fetchall()
cursor.execute("Select * from "+tablas[3][0])
ratings = cursor.fetchall()
cursor.execute("Select * from "+tablas[4][0])
users = cursor.fetchall()

In [41]:
cursor.close()

True

In [17]:
import pandas as pd

In [42]:
age_ranges = pd.DataFrame(age_ranges, columns=["age_id","age_range"])
movies = pd.DataFrame(movies, columns=["movie_id","title","genre"])
occupations = pd.DataFrame(occupations,columns=["occupation_id","occupation"])
ratings = pd.DataFrame(ratings, columns=["user_id","movie_id","rating","timestamp"])
users = pd.DataFrame(users, columns=["user_id","gender", "age","ocupation","zip code"])

In [43]:
age_ranges

   age_id age_range
0       1  Under 18
1      18     18-24
2      25     25-34
3      35     35-44
4      45     45-49
5      50     50-55
6      56       56+

Compara con tus compañeros y revisa con la experta para que todos estén seguros de que tienen sus `DataFrames` estructurados de la manera correcta y que sus archivos .csv fueron creados exitosamente. Vamos a utilizar estos archivos en los Retos siguientes, así que es muy importante que tus datos estén estructurados adecuadamente.

In [45]:
age_ranges.to_csv("age_ranges.csv")
movies.to_csv("movies.csv",sep="$")
occupations.to_csv("occupations.csv")
ratings.to_csv("ratings.csv")
users.to_csv("users.csv")