## Reto 3: Map

### 1. Objetivos:
    - Practicar el uso del método `map` para mapear un dato a otro dato que le corresponde.
    
---
    
### 2. Desarrollo:

#### a) Booleanos a numéricos

Vamos a trabajar sobre el dataset que guardaste en el Reto anterior. Esta vez tu Reto es muy sencillo:

1. La columna `is_potentially_hazardous_asteroid` tiene valores `booleanos`. Crea un diccionario de mapeo donde hagas un correspondencia de cada valor `booleano` con su equivalente numérico y transforma esa columna.
2. Usa una función para mapear la columna `relative_velocity.kilometers_per_hour` a una nueva columna llamada `relative_velocity.kilometers_per_minute`, que contenga la velocidad del objeto en kilómetros por minuto.
3. Guarda tu `DataFrame` resultante en la variable `df_reto_3`.
4. Guarda tu resultado en un archivo .csv.

In [1]:
import pandas as pd

In [19]:
df = pd.read_csv('df_reto_2.csv')
df.head(3)

,Unnamed: 0,Unnamed: 0.1,id_name,is_potentially_hazardous_asteroid,estimated_diameter.meters.estimated_diameter_min,estimated_diameter.meters.estimated_diameter_max,close_approach_date,epoch_date_close_approach,orbiting_body,relative_velocity.kilometers_per_second,relative_velocity.kilometers_per_hour,orbit_class_description,id,name
0,0,0,2154652-154652 (2004 EP20),False,483.676488,1081.533507,1995-01-07 00:00:00.000000,1970-01-01 00:13:09.467580,Earth,16.142864,58114.308667,Near Earth asteroid orbits similar to that of ...,2154652,154652 (2004 EP20)
1,1,1,3153509-(2003 HM),True,96.506147,215.794305,1995-01-07 00:00:00.000000,1970-01-01 00:13:09.491340,Earth,12.351044,44463.757734,Near Earth asteroid orbits which cross the Ear...,3153509,(2003 HM)
2,3,3,3837644-(2019 AY3),False,46.190746,103.285648,1995-01-07 00:00:00.000000,1970-01-01 00:13:09.513900,Earth,22.478615,80923.015021,Near Earth asteroid orbits similar to that of ...,3837644,(2019 AY3)

In [20]:
is_potentially_hazardous_asteroid = {
    True : 1,
    False : 0
}

In [21]:
df['is_potentially_hazardous_asteroid'] = df['is_potentially_hazardous_asteroid'].map(is_potentially_hazardous_asteroid)
df['is_potentially_hazardous_asteroid'].head(2)

0    0
1    1
Name: is_potentially_hazardous_asteroid, dtype: int64

In [26]:
def kmtomin(kmtohour) :
  return kmtohour/60

In [27]:
df['relative_velocity.kilometers_per_minute'] = df['relative_velocity.kilometers_per_hour'].map(kmtomin)
df[['relative_velocity.kilometers_per_hour','relative_velocity.kilometers_per_minute']].head(2)

,relative_velocity.kilometers_per_hour,relative_velocity.kilometers_per_minute
0,58114.308667,968.571811
1,44463.757734,741.062629

In [28]:
df_reto_3 = df.copy()

Pídele a tu experta la función de verificación `revisar_resultados` (encontrada en el archivo `helpers.py` de la carpeta donde se encuentra este Reto), pégala debajo y corre la celda para verificar tu resultado:

In [29]:
# Pega aquí la función de verificación
def revisar_resultados(df_reto_3):
    
    import pandas as np
    import pandas.api.types as pdtypes
    
    assert pdtypes.is_int64_dtype(df_reto_3['is_potentially_hazardous_asteroid']), 'La columna "is_potentially_hazardous_asteroid" no ha sido transformada a tipo numerico'
    assert len(df_reto_3['is_potentially_hazardous_asteroid'].unique()) == 2, 'Hubo un error con la correspondencia de valores booleanos a numéricos. Hay más de dos valores posibles en la columna resultante'
    assert df_reto_3['relative_velocity.kilometers_per_minute'].equals(df_reto_3['relative_velocity.kilometers_per_hour'] / 60), 'La conversión de kilometros por hora a kilómetros por minuto no fue realizada correctamente'
    
    print(f'Todos los procesos fueron realizados exitosamente!')
revisar_resultados(df_reto_3)

Todos los procesos fueron realizados exitosamente!